.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  
  .case{
      background-color:white;
      width: 100%;
      height: 200px;
  }